* {
    box-sizing: border-box; /* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
    scroll-behavior: smooth; /*Faire défiler progressivement*/
  }
  section {
    padding: 25px 15px;
  }
  