@mixin buttons {
  background: $purple;
  color: white;
  border-radius: 10px;
  line-height: 30px;
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  filter: drop-shadow(2px 3px 6px $shadow);
  cursor: pointer;
  min-width: 150px;
  margin: 20px auto;
}

/*end of button*/

@mixin dflex_col {
  display: flex;
  flex-direction: column;
}
