@mixin buttons {
  background: $purple;
  color: white;
  border-radius: 10px;
  line-height: 30px;
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  filter: drop-shadow(2px 3px 6px $shadow);
  cursor: pointer;
  min-width: 150px;
  margin: 20px auto;
}

/*end of button*/

@mixin dflex_col {
  display: flex;
  flex-direction: column;
}

/*animation back to home*/
@mixin back {
  animation: shake 2.2s infinite;
  margin-right: 10px;
  color: $purple;
}
@mixin shakeHome {
  @keyframes shake {
    0% {
      transform: rotate(-8deg);
    }
    8% {
      transform: rotate(8deg);
    }
    16% {
      transform: rotate(-8deg);
    }
    24% {
      transform: rotate(8deg);
    }
    32% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(8deg);
    }
    48% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }
}
