@import "../main.scss";
.container-cart {
  padding-left: 20px;
  padding-right: 20px;
  > div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 768px;
  }
}

//titre
.header-cart {
  text-align: center;
  margin-top: 20px;
  display: flex;
}
h1 {
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 2.2em;
  justify-content: center;
  flex-basis: 100%;
}
//titre

.main {
  @media only screen and (min-width: 768px) {
    float: left;
    margin: auto;
  }
}

.main-cart {
  width: auto;
  display: flex;
  flex-direction: column;
}

.details-items {
  width: 100%;
  margin-left: 15px;
  .details-items-img {
    div {
      padding: 20px 0px;
      img {
        height: auto;
        width: 100px;
        border: 8px solid white;
        outline: 1px solid $border;
        object-fit: cover;
        object-position: 50% 65%;
        @media only screen and (min-width: 576px) {
          width: 300px;
        }
      }
    }
  }
}

.info-items {
  padding-bottom: 20px;
}
.info-items-desc p:first-of-type {
  border-bottom: 2px solid $purple;
  margin-bottom: 15px;
  line-height: 1.5em;
  padding-bottom: 8px;
  max-width: 106px;
}
.info-items-desc {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
  }
  p:last-of-type {
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    text-align: justify;
  }
}

.info-items-desc div span {
  color: $purple;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 0.5em;
  border: 2px solid $purple;
  line-height: 2em;
  padding: 0.5em 1.5em;
  width: 90px;
}

.info-items-quantity {
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.cart-update {
  border: 1px solid #cecece;
  width: 120px;
  border-radius: 5px;
  button {
    color: black;
  }
}

#quantity {
  min-height: 2em;
  line-height: 2em;
  border: none;
  text-align: center;
  width: 40px;
  margin: 0;
}

/*faire disporaitre les petite flèches d'incrémentation à côté de la quantité*/
/* it will support chrome and firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*faire disporaitre les petite flèches d'incrémentation à côté de la quantité*/

.info-items-total {
  line-height: 2em;
  display: inline-block;
  width: 50%;
  margin-left: 80px;
  align-items: center;
  font-weight: bold;
}

/*remove items*/
.info-items-remove {
  position: static;
  display: flex;
  a {
    text-decoration: underline;
    &:hover {
      color: red;
    }
  }
}
/*remove items*/

/*récap*/
.sidebar-cart {
  width: auto;
  margin-bottom: 40px;
  @media only screen and (min-width: 768px) {
    float: right;
  }
}

.summury-cart {
  padding: 20px 20px 40px;
  background-color: $light-grey;
  height: auto;
  width: auto;
  @media only screen and (min-width: 768px) {
    width: 300px;
    margin-top: 100px;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.1875;
    padding-bottom: 8px;
    border-bottom: 4px solid white;
  }
  div {
    display: table;
    width: 100%;
    span {
      display: table-cell;
      padding: 3px 0px;
      padding-bottom: 8px;
      border-bottom: 2px solid white;
    }
    span:nth-last-child(1) {
      display: table-cell;
      text-align: right;
      font-weight: bold;
    }
  }
}
/*récap*/

/*finalisez*/
.finish {
  padding: 20px 40px;
  background-color: white;
  margin-bottom: 50px;
  clear: both;
  width: auto;
  height: auto;
  div {
    height: auto;
    width: auto;
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1.5em;
  padding-bottom: 8px;
  border-bottom: 2px solid $purple;
  max-width: 243px;
  align-self: center;
  flex-wrap: wrap;
}
form div {
  display: flex;
  flex-direction: column;
  label {
    position: relative;
  }
}
form div label input {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  line-height: 2em;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  align-items: center;
  transition: border 0.2s;
  &:focus {
    border: none;
    outline: 1px solid #cecece;
    background-color: white;
  }
}
form div label > small {
  position: absolute;
  top: 30px;
  left: 25px;
  letter-spacing: 0.05em;
  user-select: none;
  transition: 0.4s;
  font-size: 1.1em;
  transform: translateY(-50%);
  max-width: 160px;
}

form div label input:focus + small,
form div label input:not(:placeholder-shown) + small {
  top: 0px;
  left: 0px;
  font-size: 1em;
  background-color: white;
  padding: 0 10px;
}

/*Continuer mes achats*/
.back-to-home {
  margin: 30px 0px;
  cursor: pointer;
  text-align: center;
  @media only screen and (min-width: 576px) {
    margin-left: 10px;
    font-size: 1.2em;
  }
  a {
    border: 1px solid #cecece;
    border-radius: 15px;
    padding: 15px;
    transition: border 600ms;
    &:hover {
      border: 1px solid white;
    }
    i {
      color: $purple;
      width: 11px;
      height: 15px;
      margin-right: 15px;
    }
    span {
      color: $purple;
    }
  }
}
.backHome {
  @include back;
  @include shakeHome;
}

/*Continuer mes achats*/

/*order*/
.action {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
  }
}
.order {
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  margin-top: 20px;
  background-color: white;
  transition: background-color 600ms;
  width: 50%;
  line-height: 2em;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
  border: transparent;
  &:hover {
    background-color: $purple;
    color: white;
  }
}
/*footer*/
footer {
  @media only screen and (min-width: 576px) {
    clear: both;
  }
}

/*panier vide*/
.empty-cart {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}

#clear {
  display: flex;
  justify-content: center;
}
.clear-cart {
  margin: 30px 0px;
  cursor: pointer;
  @media only screen and (min-width: 576px) {
    margin-left: 10px;
    font-size: 1.2em;
  }
  span {
    border: 1px solid red;
    border-radius: 15px;
    padding: 15px;
    color: red;
    transition: border 600ms;
    &:hover {
      border: 1px solid white;
    }

  }
}

//text alert error input
.errorInput {
  color: red;
  font-size: 1em;
  position: absolute;
  top: 0px;
  right: 25px;
  background-color: white;
}

/* The popup message */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content*/
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid $border;
  width: 80%;
    h3{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    p{
      text-align: center;
    }
}

/* The Close Btn */
.close i{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close i:hover,
.close i:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.fa-check {
  font-size: 35px;
  color: green;
  font-weight: bold;
  height: 60px;
  width: 60px;
  border: 2px solid green;
  padding-top: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
}
/* The popup message */
